extends layout

block content
  script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css")
  link(rel="stylesheet", href="/stylesheets/style.css")
  script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js")
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.min.js")
  div.container.center-div
    div.text-align-center
      h1= title
      p Welcome to #{title}
      div.center-div.message
        p.alert.alert-info #{message}

    if user.userType == 2
      div.row1
        h3 Communicate with Admin / Students/ Volunteer via Email
        form.login100-form.validate-form(method='post', action='/email')
          fieldset
            legend Select User
            .wrap.form-group
              div.radio
                input(type='radio', name='userType', id="volunteers", value="0") 
                label(for='volunteers')
                  | Volunteers
              div.radio
                input(type='radio', name='userType',id="students", value="1")
                label(for="students")
                  | Students
              div.radio
                input(type='radio', name='userType',id="admins", value="2")
                label(for="admins")
                  | Admins
          .wrap.form-group
            label.font(for="subject") Subject
            input.form-control(type='text', id='subject' name='subject')
          .wrap.form-group
            label.font(for="emailBody") Email Body
            textarea#summernote.form-control(name="body", placeholder="Write your Email here")
          button#saveButton.btn.btn-primary(type="submit") Send Email
    else if user.userType == 1
       div.row
        form.login100-form.validate-form(method='POST', action='/user/'+user._id, id="xhrSave" )
          fieldset
            legend Update User
            .form-group
              div.radio
                input(type='radio', name='userType', id="volunteer", value="0", checked=user.userType==0? true : false)
                label(for="volunteer")
                  | Volunteer
              div.radio
                input(type='radio', name='userType', value="1", id="student", checked=user.userType==1? true : false) 
                label(for="student")
                  | Student
          .form-group
            label(for='firstName') First Name
            input.form-control(type='text', id='firstName', name="firstName" value=user.firstName, placeholder='First Name')
            span.focus-input100(data-placeholder='First Name')
          .form-group
            label(for='lastName') Last Name
            input.form-control(type='text', id='lastName', name="lastName" value=user.lastName, placeholder='Last Name')
            span.focus-input100(data-placeholder='Last Name')
          .form-group
            label(for='organisation') Enter your school/college
            input.form-control(type='text', id='organisation', name="organisation" value=user.organisation, placeholder='Enter your school/college')
            span.focus-input100(data-placeholder='Enter your school/college')
          button#saveButton.btn.btn-primary(type="submit") Update
    else if user.userType == 0
      div.text-align-center
        | Thanks for becoming a volunteer and wait for update from our team
  script(type='text/javascript', src="javascripts/index.js")
    