doctype html
html(lang="en")
  head
    title= title
    // link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    block content
