body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center-div {
	margin: 0 auto;
    width: 60%;
}
.text-align-center {
	text-align: center;
}

.center-div.message {
	width: 300px;
}
.center-div.message.alert{
	padding: 6px;
}

.checkbox-inline, .radio-inline{
	line-height: 40px;
    padding-left: 30px;
}

.radio{
  display: inline-block;
  margin: 0 2rem;
}
.row {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5rem;
  max-width: 50%;
  /* text-align: center; */
}
legend {
  font-weight: 700;
  font-size: 15px;
}